{% if args.container_class is not empty %}<div class="{{ args.container_class }}">{% endif %}
{{ args.link_before|default()|raw }}
{{ menu(args.theme_location, 'wp-twighelpers/wp-theme-menu.twig') }}
{{  args.link_after|default()|raw }}
{% if args.container_class is not empty %}</div>{% endif %}
