{% if args.container_class is not empty %}<div class="{{ args.container_class }}">{% endif %}
{{ menu(args.theme_location, 'wp-twighelpers/wp-theme-menu.twig') }}
{% if args.container_class is not empty %}</div>{% endif %}
