{% extends '_base/_page-nav.twig' %}

{% block page_nav 'WP Theme Dashboard' %}

{% block page_title __('WP Theme Dashboard') %}

{% block page_main %}

<p>
<a href="{{ path('wpThemeGatherSettings') }}" class="btn btn-primary">
    <i class='fa fa-cog'></i>
    Gather settings
</a>
</p>

{% if text is not empty %}
    <p style='max-width: 44em;'>
        {{ text|c raw }}
    </p>
{% endif %}

{% if output is not empty %}
<hr>
<textarea  data-bind="{&quot;bind&quot;:&quot;editfile&quot;,&quot;readonly&quot;:false}"
    class="CodeMirror-scroll"
    id="form_contents"
    name="form[contents]" style='width: 80%; height: 450;'>{{ output }}</textarea>

    <link rel="stylesheet" property="stylesheet" href="/app/view/js/ckeditor/plugins/codemirror/css/codemirror.min.css">
    <script src="/app/view/js/ckeditor/ckeditor.js"></script>
    <script src="/app/view/js/ckeditor/plugins/codemirror/js/codemirror.min.js"></script>
    <script src="/app/view/js/ckeditor/plugins/codemirror/plugins/yaml.min.js"></script>

{% endif %}




{% endblock page_main %}
